@model IGOR.EntityModel.Entities.Order

@{
	ViewBag.Title = "Удаление";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите стереть данную информацию?</h3>
<div>
	<h4>Заказ</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.Customer)</dt>
		<dd>@Model.Customer</dd>

		<dt>@Html.DisplayNameFor(model => model.OrderMoment)</dt>
		<dd>@Model.OrderMoment.ToShortDateString()</dd>

		<dt>@Html.DisplayNameFor(model => model.State)</dt>
		<dd>@Model.State</dd>

	</dl>

	@using (Html.BeginForm()) {
		@Html.AntiForgeryToken()

		<div class="form-actions no-color">
			<input type="submit" value="Удалить" class="btn btn-primary" />
			<hr />
			@Html.ActionLink("Назад к списку", "Index")
		</div>
	}
</div>
